* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --pd: 5px;
  --br: 5px;
  --gap: 5px;

  --primary: #1746a2;
  --secondary: #5f9df7;
  --light-cement: #fff7e9;
  --white: rgb(237, 234, 234);
  --nav-after-back: #9ba4b5;
  --nav-after: #d5b4b4;
}
body {
  background-color: var(--white);
  position: relative;
  display: block;
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Higher z-index to ensure it overlaps */
}

.nav {
  z-index: 5;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.nav-heading h1{
  font-size: 40px;
  font-weight: bold;
}
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(var(--gap) * 6);
}
.nav-buttons button:hover {
  text-decoration: underline;
}

#btn {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(240, 212, 212);
  color: black;
}

input {
  border-radius: 5px;
}
.main {
  background-image: url("../src/img/attendance-image.jpg");
  background-size: cover;
  z-index: 0;
  height: 74vh;
}

footer {
  z-index: 0;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-cement);
  color: var(--primary);
}

/* Teacher login page */
.teacher-login,
.student-login {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  top: 0px;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
}

.teacher-login-form,
.student-login-form {
  width: 70vw;
  height: 70vh;
  background-color: #1746a2;
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 25px;
  flex-direction: column;
  border-radius: 10px;
}

.teacher-login-form form,
.student-login-form form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.username-div {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.password-div {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

/* Teacher */
.teacher {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.teachMainHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 50px;
  font-weight: bold;
}
.teachMainHeading button {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  cursor: pointer;
}
.teachMainHeading button:hover {
  background-color: #9ba4b5;
  color: #d5b4b4;
}
.footer {
  margin-top: auto;
  width: 100%;
}

.attendanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 30px;
}
.attendanceContainer h1 {
  font-size: 40px;
  font-weight: bold;
}
.attendanceHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first {
  width: 50px;
}
.fourth {
  display: flex;
  gap: 5px;
}
.attendanceHeadings {
  font-size: 20px;
  font-weight: bold;
}
.attendanceHeadings,
.studentDet {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Student */
.student {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.studentMainHeading h2 {
  font-size: 40px;
  font-weight: bold;
}
.studentProfile {
  background-color: #9ba4b5;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
}
.profileElement {
  display: flex;
  gap: 10px;
}
.profileElement h3 {
  font-weight: bold;
}
.studentAttendanceDet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.studentAttendanceDetHead{
  display: flex;
  align-items: center;
  justify-content: center;
}
.studentAttendanceDetHead h2 {
  font-size: 30px;
  font-weight: bold;
}
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 55px;
}
.row h3{
  font-weight: bold;
}